.input, .select {
    width: 120px;
}

.dropDown {
    width: 150px;
}

.sidePanel {
    padding: 15px 20px;
}

.axnBtn {
    margin-top: 1em;
}

.hitboxEditor {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    padding: 15px;
    margin-top: 15px;
    border-radius: 15px;
}

.hitboxEditor>.hitbox {
    position: absolute;
    border: 4px solid rgba(50, 115, 220, 0.6);
    background: rgba(50, 115, 220, 0.1);
    width: 50px;
    height: 50px;
}

.hitboxEditor>.hSlider {
    position: absolute; 
    top: -15px; 
}

.hitboxEditor>.vSlider {
    position: absolute;
    left: -15px;
}

.metaImage {
    width: 150px;
    height: 150px;
    object-fit: contain;
    background: url("../../images/checkerboard.png")
}