.upperSection {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 0.5em 0;
}
.preview {
    flex: 1;
    background: darkgray;
}
.previewImg {
    background: transparent;
    object-fit: scale-down;
    object-position: 0 0;
    background: url(http://localhost:8080/assets/66f9d09ed7ad3740571c493492e4ade7.png);
    background-size: contain;
    background-repeat: repeat;
    padding: 0.25em;
}
.appbar {
    width: 90%;
}