.upperSection {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 0.5em 0;
}
.preview {
    flex: 1;
    background: #333;
}
.previewImg {
    background: transparent;
    object-fit: scale-down;
    object-position: 0 0;
    background: url("../images/checkerboard.png");
    background-size: contain;
    background-repeat: repeat;
}
.appbar {
    width: 90%;
    background: #fff;
}